# ------------ Maven
pom.xml.versionsBackup
target/
# ------------ Eclipse
.classpath
.project
.settings/
# ------------ Idea
*.iml
.idea
# ------------ Misc
.java-version
*/src/main/resources/*.png
*.bak
*.index
/docker
tmp/
~*
