<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework" level="INFO"/>

  <!-- Logstash-Configuration -->
  <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>elk:4560</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service_name":"edge-service"}</customFields>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="logstash" />
  </root>
</configuration>
