eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
    server:
          waitTimeInMsWhenSyncEmpty: 0

---

spring:
    profiles: docker

eureka:
  instance:
    hostname: discovery
